/.metadata/
/.recommenders/
/JavaGuard/nbproject/private/
/JavaWS/nbproject/private/
/modules.maths/nbproject/private/
/JavaLifeGame/nbproject/private/
/JavaOCAP/nbproject/private/
/JavaTraining/nbproject/private/
/WarGame/nbproject/private/
/JavaApps/nbproject/private/
/JavaAppRegister/nbproject/private/
/Testing/nbproject/private/
/DesignPatterns/nbproject/private/
/HackerRank/nbproject/private/
/AccessControl/nbproject/private/
/JavaFundTraining/nbproject/private/
/JavaChat/nbproject/private/
/modules.program/nbproject/private/
/JavaTraining/build/
/modules.program/build/
/modules.maths/build/
/JavaApps/build/
/JavaTest/nbproject/private/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaChat/build/
/JavaLifeGame/build/
/AccessControl/build/
/DesignPatterns/build/